<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheets/show.css">
<script type="text/javascript" src="/lib/stars.js"></script>
<script type="text/javascript" src="/lib/datepicker.js"></script>

<div class="container container-show">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<img class="image-show" src="<%= item.image %>">
		</div>
		<div class="col-md-6 col-sm-12">
			<h3><%= item.name %></h3>
			<h4 class="pull-right">$<%= item.price %></h4>
			<p>from <strong><%= item.brand %></strong></p>
			<p><%= item.season %> </p>
			<%if(item.category !== "Select a category"){ %>
			<p><%= item.category %> </p>
			<%} %>
			<p class="description"><%= item.description %></p>
			<%if(item.purchasedTime){%>
				<p>Purchased at <%= item.purchasedTime.toDateString() %></p>
		<%}%>
			<input type = "hidden" name="item[rating]" class="rating" class="form-control" value='<%= item.rating %>'>
			<div class="stars-output">
				<span class="fas fa-star" data-value="1"></span>
				<span class="fas fa-star" data-value="2"></span>
				<span class="fas fa-star" data-value="3"></span>
				<span class="fas fa-star" data-value="4"></span>
				<span class="fas fa-star" data-value="5"></span>
			</div>
			<p>You have worn this <%= item.wornTimes %> times</p>
			<a class="btn btn-primary btn-sm edit-button" href="/allItems/<%= item.id %>/edit">Edit</a>
			<form action="/allItems/<%= item.id %>?_method=delete" method="post" class="delete-form">
				<button class="btn btn-primary btn-sm delete-button">Delete</button>
			</form>
		</div>
	</div>
</div>


<%- include("../partials/footer") %>