<%- include("../partials/header") %>

<div class="container">
	<header class="jumbotron">
		<h1 id="index-header"> Take a look of all the pieces you own ... </h1>
		<a href="/allItems/new" class="btn btn-primary" role="button" id="index-button">Add a new item</a>
	</header>

	<!-- filter button -->
	<button id="all">Show all</button>
	<ul class="filter-links" id="season-filter">
		<li>
			<label for="season-spring">Spring</label>
			<input type="checkbox" id="season-spring" value="spring" name="season">	
		</li>
		<li>
			<label for="season-summer">Summer</label>
			<input type="checkbox" id="season-summer" value="summer" name="season">
		</li>
		<li>
			<label for="season-winter">Winter</label>
			<input type="checkbox" id="season-winter" value="winter" name="season">		
		</li>
	</ul>
	<ul class="filter-links" id="category-filter">
		<li>
			<label for="cat-top">Top</label>
			<input type="checkbox" id="cat-top" value="top" name="category">	
		</li>
		<li>
			<label for="cat-bottom">Bottom</label>
			<input type="checkbox" id="cat-bottom" value="bottom" name="category">
		</li>
		<li>
			<label for="cat-jacket">Jacket</label>
			<input type="checkbox" id="cat-jacket" value="jacket" name="category">
		</li>
		<li>
			<label for="cat-overall">Dress or overall</label>
			<input type="checkbox" id="cat-overall" value="overall" name="category">
		</li>
		<li>
			<label for="cat-accessory">accessory</label>
			<input type="checkbox" id="cat-accessory" value="accessory" name="category">
		</li>		
	</ul>
	<div class="row" style="display:flex; flex-wrap: wrap">
		<% items.forEach((item)=>{ %>
		<div class="col-md-3 col-sm-6 filter-items" data-category="<%= item.season %> <%= item.category %>">
			<div class="card">
				<img src="<%=item.image%>" class="card-image-top">
				<div class="card-body">
					<h5 class="card-title"><%= item.name %></h5>
					<a href="/allItems/<%= item.id %>" class="card-link">View more</a>
				</div>
			</div>
		</div>
		<% })%>
	</div>
</div>

<!--  filter items by category and season -->
<!-- season filter & category filter -->
<!-- Within season filter or category filter, creterias are combined using OR logic. Between season filter and category filter, creterias are combined using AND logic. -->
<script type="text/javascript">
	$(function(){
		var $filterCheckboxes = $('input[type="checkbox"]');

		$filterCheckboxes.on('change', function() {

		  var selectedFilters = {};

		  $filterCheckboxes.filter(':checked').each(function() {

		    if (!selectedFilters.hasOwnProperty(this.name)) {
		      selectedFilters[this.name] = [];
		    }

		    selectedFilters[this.name].push(this.value);

		  });

		  // create a collection containing all of the filterable elements
		  var $filteredResults = $('.filter-items');

		  // loop over the selected filter name -> (array) values pairs
		  $.each(selectedFilters, function(name, filterValues) {

		    // filter each .filter-items element
		    $filteredResults = $filteredResults.filter(function() {

		      var matched = false,
		        currentFilterValues = $(this).data('category').split(' ');

		      // loop over each category value in the current .flower's data-category
		      $.each(currentFilterValues, function(_, currentFilterValue) {

		        // if the current category exists in the selected filters array
		        // set matched to true, and stop looping. as we're ORing in each
		        // set of filters, we only need to match once

		        if ($.inArray(currentFilterValue, filterValues) != -1) {
		          matched = true;
		          return false;
		        }
		      });

		      // if matched is true the current .filter-items element is returned
		      return matched;

		    });
		  });

		  $('.filter-items').hide().filter($filteredResults).show();
		});
	})	
	
</script>

<%- include("../partials/footer") %>